html,
body {
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Shabnam";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/Shabnam.woff");
  }
}
